* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  */

header{
    position: fixed;
    top:0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    /* background-color: rgb(6, 6, 105); */
    background-color: rgb(2, 71, 120);
}

header div{
    margin-left: 70px;
    width: 180px;
    margin-top: 5px;
}

header #header_img{
    width: 100%;
}



#wrap_main{
    margin-top: 75px;
   
}


#select-panel{
    width: 130px;
    position: absolute;
    background-color: whitesmoke;
    border: 3px solid black;
     display: block;
}

#information-panel{
	font-size:14pt;
	height: 230px;
	display:block;
	background-color: rgb(255, 221, 255);
}
#siganButton:focus{
	 background: gray;
  	color: whitesmoke;
}

.path12{

    width : 200px;

    cursor : pointer;

  }

.my-div {

    width : 200px;

    height : 200px;

    background-color : blue;

    cursor : pointer;

  }

  .asd {
    background-color: #6aafe6;
    color: black;
    font-size: 16px;
    
}
.asd2 {
    background-color: #6aafe6;
    color: black;
    font-size: 16px;
    
}
.asd2:focus{
		 background: gray;
  	color: whitesmoke;
}

/*  */

#btn_logout{
    font-size :1.5em;
    background-color:initial; 
    border:none; 
    margin-top: 3px;
}

#btn_logout:hover{
    font-weight: 600;
}

#btn_addBookmark{
    margin-left: 10px;
    font-size: 1.5em;
    background-color: inherit;
    border: none;
    text-align: center;
}

#btn_addBookmark:hover{
    font-weight: 600;
}

#pop{
    width: 100%;
    margin: 0 auto;
    background-color: white;

     display: none;
}


#subway_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    
}

#subway_div label{
    display: inline-block;
    width: 33%;
    height: 33px;
    line-height: 33px;
   
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    border: 1px inset rgb(159, 159, 159); 

    border-collapse: collapse;
}


.bookmark_hover:hover{
	font-weight: 600;
}

input[name="subway_nm"]{
   display: none;
}

#subway_div label:hover{
    background-color: rgb(255, 248, 184);
}


#submit_bookmark{
    width:100%;
    height: 30px;
    font-size: 1em;
}


textarea#memo_contents{
    font-size: 1.4em;
}

#tx {
    font-size: 17px;
}

.bc {
	display:flex;

    background-image: url(../img/subway2.png);
    background-repeat: no-repeat;
}

TD#screen_main {
    width: 75%;
}

TD#screen_side {
    width: 25%;
}

span#btn_ham {
    display: none;
    width: 55px;
    height: 55px;
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    color: rgb(2, 71, 120);
    font-size: 2.4em;
    font-weight: bolder;
    text-align: center;
    user-select: none;
}

@media (min-width: 1500px) and (max-width: 1850px) {
 TD#screen_main {
        width: 100%;
    }
    
    TD#screen_side {
        width: 350px;
        position: fixed;
        top: 75px;
        right: 0;
        display: inline;
    }

    span#btn_ham {
        display: block;
    }
}